#navbar{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}
#search_input{
    width: 900px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    
}

#container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#sidebar{
    width: 10%;
    background-color: bisque;
}
#sidebar h3{
    text-align: center;
    cursor: pointer;
   
    
}
#results{
    width: 85%;

}
.news{
    display: flex;
    margin: 10px;
   
}
.title{
 
}
img{
    width: 120px;
    height: 120px;
}
